= form.fields_for :attachments, resource.attachments.build do |a|
  = render 'shared/nested_field', f: a
.links= link_to_add_association 'Add file', form, :attachments, partial: 'shared/nested_field'
